{% extends "base.html" %}

{% block content %}
    <div class="navbar navbar-default"> 
        <div class="container-fluid">
            <div class="navbar-header">
                <h2 class="navbar-brand">NOT Reddit</h2>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ url_for('profile', username=account.username) }}">Profile</a></li>
                <li><a href="{{ url_for('index') }}">Feed</a></li>
                <li><a href="{{ url_for('explore') }}">Explore</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </div>
    </div> 
    <div class="background">
        <div class="board-title">
            <h1>nr/{{ board.name }}</h1>
            {% if subbed == true %}
                <a href="{{ url_for('unfollow', board_id=board.id) }}">unfollow</a>
            {% else %}
                    <a href="{{ url_for('follow', board_id=board.id) }}">follow</a>
            {% endif %}
            <h3>Subscribers: {{ subs }}</h3>
        </div>
        <div class="form">
            <form action="/board/{{ board.name }}" method="post">
                {{ form.csrf_token }}
                <p>
                    {{ form.title.label }}
                    {{ form.title(size=30) }}
                </p>
                <p>
                    {{ form.text.label }}
                    {{ form.text(size=300) }}
                </p>
                <p> {{ form.submit() }} </p>
            </form>
        </div>
        <div class="feed">
             {% for post in posts %}
                <div class="post"> 
                     <p><a href="{{ url_for('thread', postid=post.id) }}">{{ post.title }}</a></p>
                     <a href="{{ url_for('delete_thread', thread_id=post.id) }}">Delete</a>
                 </div>
            {% endfor %}
        </div>
    </div> 


{% endblock %}