{% extends "base.html" %}

{% block content %}
<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <h2 class="navbar-brand">NOT Reddit</h2>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_for('profile', username=account.username) }}">Profile</a></li>
            <li><a href="{{ url_for('index') }}">Feed</a></li>
            <li><a href="{{ url_for('explore') }}">Explore</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </div>
</div>
{% endblock %}